#con_main {
  padding-top: 70px;
  background: #f1f1f1;
}

section.contents_main_visual {
  background-image: url("../images/about/main_visual.jpg");
}

div.page_anchor {
  width: 980px;
  margin: 0 auto;
  padding-bottom: 70px;
  overflow: hidden;
  *zoom: 1;
}
div.page_anchor a {
  display: block;
  float: left;
  width: 488px;
  background-color: #FFF;
  color: #1a1a1a;
  text-align: center;
}
div.page_anchor a:first-of-type {
  margin-right: 4px;
}
div.page_anchor a p {
  padding: 16px 0 30px;
  background: url("../images/common/btn_arr_btm_black.svg") center 90% no-repeat;
}
div.page_anchor a span {
  display: block;
}
div.page_anchor a span.open-sans {
  font-size: 30px;
  margin-bottom: 2px;
}
div.page_anchor a span:last-of-type {
  font-size: 12px;
}

section.service {
  padding-bottom: 100px;
}
section.service ul {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
	margin-top:40px;
}
section.service ul li {
  float: left;
  background-color: #FFF;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
}
section.service .detail {
  width: 100%;
  padding: 40px 0;
  margin-bottom: 20px;
}
section.service .detail p {
  width: 420px;
  margin: 0 auto 20px;
  padding: 25px 0;
  border: solid 1px #000;
  line-height: 1.8;
  text-align: center;
}
section.service .detail div.image {
  width: 614px;
  margin: 0 auto;
}
section.service .tamago, section.service .ripilogi {
  width: 480px;
  padding: 172px 0 40px;
  text-align: center;
}
section.service .tamago h4, section.service .ripilogi h4 {
  margin-bottom: 30px;
}
section.service .tamago > p, section.service .ripilogi > p {
  text-align: center;
  margin-bottom: 18px;
}
section.service .tamago > p span, section.service .ripilogi > p span {
  display: inline-block;
  padding: 6px 30px;
  background: #eee;
  font-weight: 100;
}
section.service .tamago ul, section.service .ripilogi ul {
  width: 400px;
  height: 145px;
  margin: 0 auto;
  padding-left: 1.2em;
  list-style: disc;
  line-height: 1.7;
  font-size: 14px;
  text-align: left;
}
section.service .tamago a, section.service .ripilogi a {
  display: inline-block;
  border: solid 1px #000;
}
section.service .tamago a p, section.service .ripilogi a p {
  display: inline-block;
  padding: 10px 38px;
}
section.service .tamago {
  margin-right: 20px;
  background: url("../images/about/service_tamago_title.png") center 52px no-repeat #fff;
}
section.service .ripilogi {
  background: url("../images/about/service_ripilogi_title.png") center 46px no-repeat #fff;
}

section.culture {
  padding: 60px 0 150px;
  background: #d5eaf6;
}
section.culture div.to_welfare {
  width: 430px;
  margin: 0 auto;
  margin-bottom: 78px;
  background: #000;
}
section.culture div.to_welfare a p {
  padding: 17px 0;
  font-weight: bold;
}
section.culture div.office_scene {
  position: relative;
}
section.culture div.office_scene ul {
  overflow: hidden;
  *zoom: 1;
}
section.culture div.office_scene ul li {
  float: left;
  width: 300px;
  height: 210px;
  margin-right: 40px;
}
section.culture div.office_scene ul li img {
  width: 100%;
}
section.culture div.office_scene .bx-controls-direction {
  position: absolute;
  top: 156px;
  left: -40px;
  width: 1060px;
  overflow: hidden;
  *zoom: 1;
}
section.culture div.office_scene .bx-controls-direction a {
  display: block;
  width: 40px;
  height: 40px;
}
section.culture div.office_scene .bx-controls-direction a.bx-prev {
  float: left;
  background: url("../images/about/pic_prev.png") 0 0 no-repeat;
}
section.culture div.office_scene .bx-controls-direction a.bx-next {
  float: right;
  background: url("../images/about/pic_next.png") 0 0 no-repeat;
}

@media screen and (max-width: 480px) {
  #con_main {
    padding-top: 0;
  }

  section.contents_main_visual p.triangle {
    background-image: url("../images/about/main_triangle_sp.svg");
  }

  div.page_anchor {
    width: auto;
    padding: 0 0 40px;
    overflow: hidden;
    *zoom: 1;
  }
  div.page_anchor a {
    display: block;
    float: right;
    width: 49%;
  }
  div.page_anchor a:first-of-type {
    float: left;
    margin-right: 0;
  }
  div.page_anchor a p {
    padding: 10px 0 16px;
    background-position: center 87%;
  }
  div.page_anchor a span {
    display: block;
  }
  div.page_anchor a span.open-sans {
    font-size: 30px;
    margin-bottom: 2px;
  }
  div.page_anchor a span:last-of-type {
    display: none;
  }

  section.service {
    padding-bottom: 12.5%;
  }
  section.service .detail {
    width: 100%;
    padding: 18px;
    margin-bottom: 20px;
  }
  section.service .detail p {
    width: auto;
    padding: 10px 14px;
    text-align: left;
    font-size: 14px;
  }
  section.service .detail p br {
    display: none;
  }
  section.service .detail div.image {
    width: 100%;
  }
  section.service .tamago, section.service .ripilogi {
    width: 100%;
    padding: 37.93103% 0 40px;
    margin: 0 0 20px;
    text-align: center;
  }
  section.service .tamago h4, section.service .ripilogi h4 {
    margin-bottom: 10%;
    line-height: 1.6;
  }
  section.service .tamago ul, section.service .ripilogi ul {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  section.service .tamago ul li, section.service .ripilogi ul li {
    margin-bottom: 1em;
  }
  section.service .tamago a p, section.service .ripilogi a p {
    padding: 14px 70px;
  }
  section.service .tamago {
    background-position: center 10%;
    background-size: 56%;
  }
  section.service .ripilogi {
    background-position: center 10%;
    background-size: 43%;
  }

  section.culture {
    padding: 12.5% 0 23.4375%;
  }
  section.culture div.to_welfare {
    font-size: 15px;
    width: 95%;
    margin-bottom: 12.06897%;
  }
  section.culture div.to_welfare a p {
    background-position: 97% center;
  }
  section.culture div.office_scene {
    position: relative;
  }
  section.culture div.office_scene ul {
    overflow: hidden;
    *zoom: 1;
  }
  section.culture div.office_scene ul li {
    float: left;
    width: auto;
    height: auto;
    margin-right: 40px;
  }
  section.culture div.office_scene .bx-controls-direction {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 0;
    overflow: hidden;
    *zoom: 1;
  }
  section.culture div.office_scene .bx-controls-direction a.bx-prev {
    margin-left: -4px;
    float: left;
    background: url("../images/about/pic_prev.png") 0 0 no-repeat;
  }
  section.culture div.office_scene .bx-controls-direction a.bx-next {
    margin-right: -4px;
    float: right;
    background: url("../images/about/pic_next.png") 0 0 no-repeat;
  }
}
@media screen and (min-width: 481px) {
  section.contents_main_visual p.triangle {
    background-image: url("../images/about/main_triangle.svg");
  }

  section.service .tamago h4 br, .ripilogi h4 br {
    display: none;
  }

  section.culture {
    padding: 60px 0 150px;
    background: #d5eaf6;
  }
  section.culture div.to_welfare {
    width: 430px;
    margin: 40px auto 70px;
    background: #000;
  }
  section.culture div.to_welfare a p {
    padding: 17px 0;
    font-weight: bold;
  }
  section.culture div.office_scene .bx-controls-direction a :hover {
    opacity: 0.6;
  }
}
