.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}
#con_main .subtitle {
  padding-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#con_main .subtitle span {
  display: inline-block;
  padding: 0 10px 18px;
  border-bottom: solid 2px #000;
}

#con_main {
  padding-top: 70px;
  background: #f1f1f1;
}
#con_main.culture section.contents_main_visual {
  background-image: url("../images/culture/main_visual.jpg");
}

section.welfare {
  padding-bottom: 100px;
}
section.welfare .caption {
  padding-bottom: 16px;
}
section.welfare h5.subtitle {
  padding-bottom: 40px;
}
section.welfare ul {
  width: 100%;
}
section.welfare ul li {
  padding-bottom: 20px;
  background-color: #FFF;
}
section.welfare ul li p, section ul li img {
  width: 100%;
}
section.welfare ul dt {
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}
section.welfare ul dd {
  padding: 0 20px;
  font-size: 13px;
  line-height: 1.8;
}

section.numbers {
  padding: 50px 0 90px;
  background: #d5eaeb;
}

section.scene {
  padding: 60px 0 150px;
  background: #f1f1f1;
}
section.scene div.to_welfare {
  width: 430px;
  margin: 0 auto;
  margin-bottom: 78px;
  background: #000;
}
section.scene div.to_welfare a p {
  padding: 17px 0;
  font-weight: bold;
}
section.scene div.office_scene {
  position: relative;
}
section.scene div.office_scene ul {
  overflow: hidden;
  *zoom: 1;
}
section.scene div.office_scene ul li {
  float: left;
  width: 300px;
  height: 210px;
  margin-right: 40px;
}
section.scene div.office_scene ul li img {
  width: 100%;
}
section.scene div.office_scene .bx-controls-direction {
  position: absolute;
  top: 156px;
  left: -40px;
  width: 1060px;
  overflow: hidden;
  *zoom: 1;
}
section.scene div.office_scene .bx-controls-direction a {
  display: block;
  width: 40px;
  height: 40px;
}
section.scene div.office_scene .bx-controls-direction a.bx-prev {
  float: left;
  background: url("../images/about/pic_prev.png") 0 0 no-repeat;
}
section.scene div.office_scene .bx-controls-direction a.bx-next {
  float: right;
  background: url("../images/about/pic_next.png") 0 0 no-repeat;
}

@media screen and (max-width: 480px) {
  #con_main {
    padding-top: 0;
  }
  section.contents_main_visual p.triangle {
    background-image: url("../images/culture/main_triangle_sp.svg");
  }
  #con_main section.contents_main_visual p.triangle {
    left: -3%;
  }
  #con_main div.caption {
    padding-bottom: 2%;
  }
  section.welfare {
    padding-bottom: 25px;
  }
  section.welfare ul li {
    width: 100%;
    margin-bottom: 25px;
  }
  section.welfare ul dd {
    font-size: 16px;
    line-height: 1.8;
  }
  section.numbers .numbers_block + .numbers_block {
    margin-top: 50px;
  }
  section.numbers .numbers_link {
    margin-top: 10px;
    line-height: 1;
  }
  section.numbers .numbers_link a {
    display: inline-block;
    color: #1a1a1a;
    font-size: 12px;
    line-height: 1;
    text-decoration: underline;
  }
  section.numbers {
    padding: 50px 0;
  }
  section.numbers ul li {
    margin-top: 25px;
  }
  section.numbers ul li:first-of-type {
    margin-top: 0;
  }
  section.scene {
    padding: 12.5% 0 23.4375%;
  }
  section.scene div.to_welfare {
    font-size: 15px;
    width: 95%;
    margin-bottom: 12.06897%;
  }
  section.scene div.to_welfare a p {
    background-position: 97% center;
  }
  section.scene div.office_scene {
    position: relative;
  }
  section.scene div.office_scene ul {
    overflow: hidden;
    *zoom: 1;
  }
  section.scene div.office_scene ul li {
    float: left;
    width: auto;
    height: auto;
    margin-right: 40px;
  }
  section.scene div.office_scene .bx-controls-direction {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 0;
    overflow: hidden;
    *zoom: 1;
  }
  section.scene div.office_scene .bx-controls-direction a.bx-prev {
    margin-left: -4px;
    float: left;
    background: url("../images/about/pic_prev.png") 0 0 no-repeat;
  }
  section.scene div.office_scene .bx-controls-direction a.bx-next {
    margin-right: -4px;
    float: right;
    background: url("../images/about/pic_next.png") 0 0 no-repeat;
  }
}
@media screen and (min-width: 481px) {
  section.contents_main_visual p.triangle {
    background-image: url("../images/culture/main_triangle.svg");
  }
  section.welfare ul {
    display: table;
    margin-bottom: 25px;
  }
  section.welfare ul li {
    display: table-cell;
    width: 310px;
  }
  section.welfare ul li:nth-of-type(n + 2) {
    border-left: solid 25px #f0f0f0;
  }

  section.numbers .numbers_head {
  }
  section.numbers .numbers_head span {
    display: inline-block;
    margin: 0 0 40px;
    padding: 0 10px 20px;
    font-size: 20px;
    line-height: 1;
    border-bottom: 2px solid #1a1a1a;
  }
  section.numbers .business ul li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  section.numbers .business li.col2 {
    width: 475px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  section.numbers .business li.col3 {
    width: 310px;
    margin-right: 25px;
    margin-bottom: 20px;
  }
  section.numbers .business li.col35 {
    width: 645px;
    margin-right: 25px;
    margin-bottom: 20px;
  }
  section.numbers .business li.col1 {
    width: 980px;
  }
  section.numbers .business li:nth-child(2) {
    margin-right: 0;
  }
  section.numbers .business li:nth-child(4) {
    margin-right: 0;
  }
  section.numbers .business ul li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  section.numbers .member ul li {
    display: inline-block;
    width: 310px;
    margin-right: 25px;
    margin-bottom: 30px;
  }
  section.numbers .member ul li:nth-child(3n) {
    margin-right: 0;
  }
  section.numbers .numbers_block + .numbers_block {
    margin-top: 80px;
  }
  section.numbers .numbers_link {
    margin-top: -20px;
    text-align: right;
    line-height: 1;
  }
  section.numbers .numbers_link a {
    display: inline-block;
    color: #1a1a1a;
    font-size: 12px;
    line-height: 1;
    text-decoration: underline;
  }
  section.numbers .numbers_link a:hover {
    text-decoration: none;
  }

  section.scene {
    padding: 60px 0 150px;
  }
  section.scene div.to_welfare {
    width: 430px;
    margin: 40px auto 70px;
    background: #000;
  }
  section.scene div.to_welfare a p {
    padding: 17px 0;
    font-weight: bold;
  }
  section.scene div.office_scene .bx-controls-direction a :hover {
    opacity: 0.6;
  }
}
