#con_main {
  padding-top: 70px;
  background: #f1f1f1;
}
#con_main .required {
  color: #db1b1b;
}

section.entry_form {
  padding-bottom: 150px;
	padding-top:40px;
  font-size: 14px;
}
section.entry_form dl {
  padding: 30px;
  border-bottom: solid 1px #959595;
  overflow: hidden;
  *zoom: 1;
  line-height: 2.2;
}
section.entry_form dl:first-of-type {
  border-top: solid 1px #959595;
}
section.entry_form dl:last-of-type {
  margin-bottom: 50px;
}
section.entry_form dl.entry dt {
  width: 320px;
  margin-bottom: 10px;
}
section.entry_form dl dt {
  float: left;
  margin-top: 3px;
  width: 170px;
  font-weight: bold;
}
section.entry_form dl dd {
  float: left;
}
section.entry_form dl span.radio {
  padding: 10px 0;
  margin-right: 10px;
}
section.entry_form dl span.radio input {
  margin-right: 8px;
}
section.entry_form dl input[type="text"], section.entry_form dl input[type="number"], section.entry_form dl input[type="tel"], section.entry_form dl textarea {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
section.entry_form dl input[type="radio"]:focus {
  box-shadow: 20px 0px #FFF;
}
section.entry_form dl input {
  font-size: 14px;
  padding: 6px 8px;
  border: solid 1px #d9d9d9;
}
section.entry_form dl input.size_normal {
  width: 250px;
}
section.entry_form dl input.size_small {
  width: 120px;
}
section.entry_form dl input.size_mini {
  width: 40px;
  ime-mode: disabled;
}
section.entry_form dl ::-webkit-input-placeholder {
  color: #aaa;
}
section.entry_form dl ::-moz-placeholder {
  color: #aaa;
}
section.entry_form dl :-moz-placeholder {
  color: #aaa;
}
section.entry_form dl :-ms-input-placeholder {
  color: #aaa;
}
section.entry_form dl textarea {
  font-size: 14px;
  width: 600px;
  padding: 6px 8px;
  border: solid 1px #d9d9d9;
  resize: vertical;
}
section.entry_form div.privacy {
  background: #FFF;
  padding: 26px 30px;
  margin-bottom: 50px;
  border: solid 1px #d9d9d9;
  height: 100px;
  line-height: 1.8;
  overflow-y: scroll;
}
section.entry_form div.privacy > div {
  width: 100%;
}
section.entry_form div.privacy strong {
  font-size: 16px;
}
section.entry_form div.privacy p {
  margin-bottom: 25px;
}
section.entry_form div.privacy ol {
  margin-bottom: 25px;
  padding-left: 1em;
  list-style: decimal;
}
section.entry_form div.submit {
  text-align: center;
  overflow: hidden;
  *zoom: 1;
  width: 480px;
  margin: 0 auto;
}
section.entry_form div.submit div {
  float: left;
  width: 220px;
  margin: 0 10px;
}
section.entry_form div.submit span.submit_btn, 
section.entry_form div.submit span.return_btn{
  display: inline-block;
  background: #000000;
  vertical-align: top;
}
section.entry_form div.submit span.submit_btn input[type="submit"] {
  width: 220px;
  padding: 20px 0;
  height: 64px;
  background: url("../images/common/btn_arr_white.svg") 94% center no-repeat #000;
  background-size: 5px;
  border: none;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.entry_form div.submit span.return_btn input[type="submit"] {
	background: #000 url("../images/common/btn_arr_left_white.svg") no-repeat scroll 6% center / 5px auto;
	width: 220px;
  padding: 20px 0;
  height: 64px;
  background-size: 5px;
  border: none;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.entry_form div.thanks {
  text-align: center;
}
section.entry_form div.thanks > p {
  width: 740px;
  margin: 0 auto 50px;
  padding: 30px 0;
  border-top: solid 1px #959595;
  border-bottom: solid 1px #959595;
  line-height: 1.8;
}
section.entry_form div.thanks a {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}
section.entry_form div.thanks a p {
  display: inline-block;
  width: 220px;
  padding: 20px 0;
}
section.entry_form p.error {
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  margin-bottom: 5px;
  background: #ffdcdf;
  color: #F33;
  font-weight: bold;
  line-height: 1;
}

@media screen and (max-width: 480px) {
  section.entry_form dl {
    padding: 20px 10px;
  }
  section.entry_form dl dt {
    float: none;
    display: block;
  }
  section.entry_form dl dd {
    float: none;
  }
  section.entry_form dl.entry dt {
    margin: 0;
  }
  section.entry_form dl.entry dd {
    overflow: hidden;
    *zoom: 1;
  }
  section.entry_form dl.entry dd span {
    display: block;
    float: left;
    width: 50%;
    margin: 0;
    padding-bottom: 0;
  }
  section.entry_form dl input.size_normal {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  section.entry_form dl input.size_small {
    width: 40%;
  }
  section.entry_form dl input.size_mini {
    width: 20%;
  }
  section.entry_form dl textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  section.entry_form div.thanks p {
    width: 100%;
  }
  section.entry_form p.error {
    width: 100%;
  }
  section.entry_form div.submit {
    width: 240px;
  }
  section.entry_form div.submit div:first-of-type {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 481px) {
  div.submit a:hover p {
    opacity: 0.6;
  }
  div.submit input[type="submit"]:hover {
    opacity: 0.6;
  }
}
