#con_main {
  padding-top: 70px;
  background: #f1f1f1;
}

section.contents_main_visual {
  background-image: url("../images/message/main_visual.jpg");
}

section.message {
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.8;
}

section.movie_list {
  width: 980px;
  margin: 0 auto 40px;
}
section.movie_list ul {
  overflow: hidden;
  *zoom: 1;
}
section.movie_list ul li {
  position: relative;
  float: left;
  width: 235px;
  height: 160px;
  background: url("../images/message/movie_bg.png") 0 0;
  text-align: center;
  font-weight: bold;
  margin-right: 13px;
  margin-bottom: 13px;
}
section.movie_list ul li:nth-of-type(4n + 4) {
  margin-right: 0;
}
section.movie_list ul dt {
  display: inline-block;
  padding: 40px 2px 12px;
  font-size: 18px;
  border-bottom: solid 2px #000;
  margin-bottom: 10px;
}
section.movie_list ul dd {
  font-size: 14px;
  line-height: 1.6;
}
section.movie_list ul a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.profile {
  width: 890px;
  padding: 28px;
  margin: 0 auto 80px;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.profile h4 {
  margin-bottom: 28px;
  font-weight: bold;
  line-height: 1;
}
section.profile h4 span.open-sans {
  display: inline-block;
  padding-right: 18px;
  vertical-align: bottom;
  color: #263d6a;
  font-style: italic;
  font-size: 30px;
}
section.profile h4 span:last-of-type {
  display: inline-block;
  padding-bottom: 3px;
}
section.profile p {
  font-size: 14px;
  line-height: 1.8;
}
section.profile span.triangle {
  position: absolute;
  right: -20px;
  bottom: -30px;
  width: 77px;
  height: 80px;
  background: url("../images/message/profile_triangle.svg") 0 0 no-repeat;
}

#movieplayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 450px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
#movieplayer > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 854px;
  height: 480px;
  margin-top: -260px;
  margin-left: -427px;
}
.txtsmall{
	font-size:13px !important;
}

@media screen and (max-width: 480px) {
  section.contents_main_visual p.triangle {
    background-image: url("../images/message/main_triangle_sp.svg");
  }
  section.contents_main_visual h2 {
    padding-left: 5px;
  }

  #con_main {
    padding-top: 0;
  }

  section.message {
    margin-bottom: 6.89655%;
    text-align: left;
  }
  section.message br {
    display: none;
  }

  section.movie_list {
    width: 90%;
    margin: 0 auto 40px;
  }
  section.movie_list ul {
    overflow: hidden;
    *zoom: 1;
  }
  section.movie_list ul li {
    position: relative;
    float: left;
    width: 100%;
    height: 0;
    padding-top: 62.75862%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  section.movie_list ul dl {
    position: absolute;
    top: 8%;
    width: 100%;
  }
  section.movie_list ul dt {
    width: 70%;
    padding: 40px 0 12px;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  section.movie_list ul dd {
    font-size: 16px;
  }

  section.profile {
    width: 90%;
    padding: 10px 12px 30px;
    margin: 0 auto 80px;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  section.profile h4 {
    margin-bottom: 5.18519%;
    line-height: 1.7;
  }
  section.profile h4 span.open-sans {
    padding-right: 12px;
  }
  section.profile h4 span:last-of-type {
    padding-bottom: 8px;
  }
  section.profile p {
    font-size: 16px;
    padding: 0 5px;
  }
  section.profile span.triangle {
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    right: 0;
    bottom: -30px;
  }

  #movieplayer > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    margin-top: 0;
    margin-left: 0;
  }
  #movieplayer > div iframe {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 481px) {
  section.contents_main_visual p.triangle {
    background-image: url("../images/message/main_triangle.svg");
  }
  section.contents_main_visual h2 {
    padding-left: 2px;
  }

  section.movie_list ul li:nth-of-type(7) dt {
    letter-spacing: -1px;
  }
  section.movie_list ul a {
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    opacity: 0;
    background: url("../images/message/play.png") center center no-repeat;
    background-size: 48px;
  }
  section.movie_list ul a:hover {
    opacity: 1;
  }
}
