#con_main {
  padding-top: 70px;
  background: #f1f1f1;
}

section.contents_main_visual {
  background-image: url("../images/recruit/main_visual.jpg");
}

section.flow {
  padding-bottom: 60px;
}
section.flow div.caption {
  padding-bottom: 5px;
}
section.flow dl {
  overflow: hidden;
  *zoom: 1;
}
section.flow dl dt, section.flow dl dd {
  padding: 22px 0;
  margin-bottom: 20px;
}
section.flow dt {
  float: left;
  width: 140px;
  background: #00bbac;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
}
section.flow dd {
  float: left;
  width: 840px;
  background: #FFF;
  font-size: 14px;
}
section.flow dd span {
  display: inline-block;
  vertical-align: top;
  width: 90px;
  padding: 1px 0;
  margin-left: 30px;
  margin-right: 20px;
  border-right: solid 1px #000;
  font-weight: bold;
}

section.recruiting-info {
  padding: 60px 0 80px;
  background-color: #dff7f5;
}
section.recruiting-info dl {
  padding: 50px;
  border: solid 1px #000;
  overflow: hidden;
  *zoom: 1;
  color: #333;
  font-size: 14px;
}
section.recruiting-info dt {
  float: left;
  width: 90px;
  border-right: solid 1px #888;
  font-weight: bold;
}
section.recruiting-info dd {
  float: left;
  width: 730px;
  margin-top: -4px;
  margin-left: 55px;
  margin-bottom: 44px;
  line-height: 1.7;
}
section.recruiting-info dd:last-of-type {
  margin-bottom: 0;
}
section.recruiting-info dd a {
  color: #333;
  text-decoration: underline;
}

section.entry_btns {
  background-color: #dff7f5;
}

@media screen and (max-width: 480px) {
  #con_main section.contents_main_visual h2 {
    padding-left: 2px;
  }
  #con_main section.contents_main_visual h2 span:first-of-type {
    padding-right: 6px;
  }
  #con_main section.contents_main_visual p.triangle {
    background-image: url("../images/recruit/main_triangle_sp.svg");
    width: 83%;
  }

  #con_main {
    padding-top: 0;
  }
  #con_main section.contents_main_visual h2 {
    left: 12%;
		top:58%;
  }
  #con_main section.flow div.caption, #con_main section.recruiting-info div.caption {
    padding-bottom: 0;
  }
  #con_main section.recruiting-info div.caption h3 span.open-sans {
    font-size: 44px;
    padding-left: 26px;
    padding-right: 26px;
  }

  section.flow dl dt {
    padding: 12px 0;
    margin-bottom: 0;
  }
  section.flow dl dd {
    padding: 20px;
    margin-bottom: 0;
  }
  section.flow dt {
    width: 100%;
  }
  section.flow dd {
    float: left;
    width: 100%;
    background: #FFF;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.6;
  }
  section.flow dd span {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    border-right: none;
    text-align: center;
  }

  section.recruiting-info {
    padding: 10.9375% 0 12.5%;
    background-color: #dff7f5;
  }
  section.recruiting-info dl {
    padding: 25px 15px;
    font-size: 16px;
  }
  section.recruiting-info dt {
    float: none;
    display: block;
    width: 100%;
    border-right: none;
    margin-bottom: 14px;
    text-align: center;
		border-bottom:1px solid #888;
		padding-bottom:10px;
  }
  section.recruiting-info dd {
    float: left;
    width: 100%;
    margin: 0 0 30px;
    text-align: left;
  }
  section.recruiting-info dd:last-of-type {
    margin-bottom: 0;
  }
  section.recruiting-info dd a {
    color: #333;
    text-decoration: underline;
  }
}
@media screen and (min-width: 374px) and (max-width: 480px) {
  #con_main section.contents_main_visual h2 {
    padding-left: 10px;
  }

  #con_main section.recruiting-info div.caption h3 span.open-sans {
    font-size: 46px;
    padding-left: 36px;
    padding-right: 42px;
  }
}
@media screen and (min-width: 481px) {
  section.contents_main_visual h2 {
    padding-left: 30px;
  }
  section.contents_main_visual p.triangle {
    background-image: url("../images/recruit/main_triangle.svg");
  }
}
