
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}
#con_main.service {
  background: #f1f1f1;
  padding-top: 70px;
}
#con_main.service section.contents_main_visual {
  background-image: url("../images/service/main_visual.jpg");
}
#con_main.service .caption h4,
#con_main.service .txt_box h4 {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}
#con_main.service .txt_box p {
  margin-top: 30px;
  line-height: 1.8;
  text-align: center;
}
#con_main.service .caption p {
  margin-top: 30px;
}
#con_main.service .image img {
  width: 100%;
  height: auto;
}
section.our_role {
  padding-bottom: 50px;
}
section.our_role .image{
  margin-top: 70px;
}
section.our_role div.to_movie {
  width: 430px;
  margin: 50px auto 0;
}
section.our_role div.to_movie a p {
  padding: 17px 0;
  font-weight: bold;
}
section.service_overview {
  padding: 70px 0 50px;
  background: #d5eaf6;
}
section.service_overview .image{
  margin: 50px auto 50px;
}
section.service_overview div.to_detail {
  width: 430px;
  margin: 0 auto;
}
section.service_overview div.to_detail a p {
  padding: 17px 0;
  font-weight: bold;
}
section.business_model {
  padding: 50px 0 50px;
  background: #f1f1f1;
}
section.business_model .image {
  margin: 55px 0 0;
}
section.entry_btns {
  padding-top: 50px;
  background: #f1f1f1;
}
section.entry_btns .caption {
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  #con_main.service {
    padding-top: 0;
  }
  section.contents_main_visual p.triangle {
    background-image: url("../images/service/main_triangle_sp.svg");
  }
  #con_main.service .caption h4,
  #con_main.service .txt_box h4 {
    margin-bottom: 25px;
    font-size: 1.125rem;
    line-height: 1.4;
  }
  #con_main.service .txt_box p {
    margin-top: 30px;
  }
  #con_main.service .caption p {
    margin-top: 30px;
  }
  #con_main.service .image img {
    width: 100%;
    height: auto;
  }
  section.our_role {
    padding-bottom: 30px;
  }
  section.our_role .image{
    margin-top: 30px;
  }
  section.our_role div.to_movie {
    width: 95%;
    margin: 0 auto 0;
  }
  section.our_role div.to_movie a p {
    padding: 17px 0;
    background-position: 97% center;
    font-weight: bold;
  }
  section.service_overview {
    padding: 40px 0 50px;
  }
  section.service_overview .image{
    margin: 30px auto 30px;
  }
  section.service_overview div.to_detail {
    width: 95%;
    margin: 0 auto;
  }
  section.service_overview div.to_detail a p {
    padding: 17px 0;
    background-position: 97% center;
    font-weight: bold;
  }
  section.business_model {
    padding: 40px 0 25px;
  }
  section.business_model .image {
    margin: 30px 0 0;
  }
  section.entry_btns {
    padding-top: 25px;
  }
  section.entry_btns .caption {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 481px) {
  section.contents_main_visual p.triangle {
    background-image: url("../images/service/main_triangle.svg");
  }
}


#con_main.service_detail div.caption h3 {
  margin-bottom: 20px;
}
#con_main.service_detail {
  padding-top: 70px;
  background: #f1f1f1;
}
#con_main.service_detail section {
  padding-bottom: 150px;
}
section h5.subtitle {
  padding-bottom: 40px;
}

.service_block {
  
}

.service_box {
  margin: 20px auto 25px;
  padding: 40px 35px;
  background: #FFF;
  text-align: center;
}

.service_head {
  margin-bottom: 25px;
}
.service_catch {
  margin: 0 0 23px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.333;
}
.service_desc {
  font-size: 14px;
  line-height: 2;
}
.solution_flow {
  margin-top: 50px;
}
.solution_flow li {
  display: inline-block;
  margin: 0 30px;
  vertical-align: top;
}
.solution_flow li:nth-of-type(1) {
  margin-left: 55px
}
.solution_flow li:nth-of-type(2) {
}
.solution_flow li:nth-of-type(3) {
  margin-right: 0;
}
.solution_flow dt {
  margin-bottom: 24px;
}
.solution_flow dt span {
  display: inline-block;
  padding: 0 14px;
  font-size: 14px;
  line-height: 2;
  color: #000;
  background: #EEE;

}

.service_consulting,
.service_matching {
  margin: 25px auto 0;
  padding: 50px 50px;
  background: #FFF;
}
.consulting_txt,
.matching_txt {
  float: left;
  width: 440px;
}
.consulting_head,
.matching_head {
  margin: -4px auto 23px;
  font-size: 18px;
  line-height: 1.5;
}
.consulting_txt p,
.matching_txt p {
  font-size: 14px;
  line-height: 2;
}
.consulting_img,
.matching_img {
  float: right;
  width: 356px;
}

@media screen and (max-width: 480px) {
  #con_main.service_detail {
    padding-top: 12.06897% ;
  }
#con_main.service_detail section {
    padding-bottom: 23.4375%
}
  #con_main div.caption {
    padding-bottom: 2%;
  }

  .service_box {
    margin: 20px auto 25px;
    padding: 20px 15px;
  }

  .service_head {
    text-align: center;
    margin-bottom: 20px;
  }
  .service_head img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  .service_catch {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.4;
  }
  .service_desc {
    font-size: 14px;
    line-height: 1.8;
  }
  .solution_flow {
    margin-top: 25px;
  }
  .solution_flow img {
    width: 100%;
    height: auto;
  }
  .solution_flow li {
    display: inline-block;
    margin: 0 30px;
    vertical-align: top;
  }
  .solution_flow li:nth-of-type(1) {
    margin-left: 55px
  }
  .solution_flow li:nth-of-type(2) {
  }
  .solution_flow li:nth-of-type(3) {
    margin-right: 0;
  }
  .solution_flow dt {
    margin-bottom: 24px;
  }
  .solution_flow dt span {
    display: inline-block;
    padding: 0 14px;
    font-size: 14px;
    line-height: 2;
    color: #000;
    background: #EEE;
  }
  .solution_flow dd img {
    width: 100%;
    height: auto;
  }

  .service_consulting,
  .service_matching {
    margin: 25px auto 0;
    padding: 20px 15px;
  }
  .consulting_txt,
  .matching_txt {
    float: none;
    width: auto;
    margin: 0 auto 25px;
  }
  .consulting_head,
  .matching_head {
    margin: -4px auto 20px;
    font-size: 16px;
    line-height: 1.4;
  }
  .consulting_txt p,
  .matching_txt p {
    font-size: 14px;
    line-height: 1.8;;
  }
  .consulting_img,
  .matching_img {
    float: none;
    width: auto;
  }

  .consulting_img img,
  .matching_img img {
    width: 100%;
    height: auto;
  }
}
