#con_main section {
  position: relative;
}
#con_main section:nth-of-type(3n + 1) {
  background-color: #ccebf3;
}
#con_main section:nth-of-type(3n + 2) {
  background-color: #e7e7e7;
}
#con_main section:nth-of-type(3n + 3) {
  background-color: #FFF;
}
#con_main section:last-of-type {
  background: #b4e4f0;
}
#con_main section .inner {
  width: 860px;
  margin: 0 auto;
  padding: 100px 0;
  overflow: hidden;
  *zoom: 1;
}

section.main_visual {
  position: relative;
  padding-top: 33%;
  background: url("../images/top/fv_white.png") center/cover;
  overflow: hidden;
}
section.main_visual div.dish {
  position: absolute;
  top: -10%;
  left: 33%;
  width: 34%;
  height: 90%;
  background: url("../images/top/visual_dish.png") center top no-repeat;
  background-size: 100%;
}
section.main_visual p.catch {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  margin-left: 0;
  text-align: center;
}
section.main_visual p.catch span {
  display: block;
  font-size: 25px;
  font-weight: bold;
}
section.main_visual p.catch span.open-sans {
  margin-bottom: 6px;
  font-size: 100px;
  font-style: italic;
  font-weight: 300;
  text-shadow:0 0 30px #fff;
}

section.main_visual div.members {
  position: absolute;
  top: 260px;
  left: 50%;
  width: 1040px;
  height: 360px;
  margin-left: -520px;
  background: url("../images/top/visual_members.png") center bottom no-repeat;
}
section.main_visual div.members .triangle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.main_visual div.members .triangle:hover {
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
section.main_visual div.members .triangle:nth-of-type(1) {
  background-image: url(../images/top/triangle_purple.gif);
  top: 140px;
  left: 140px;
}
section.main_visual div.members .triangle:nth-of-type(2) {
  background-image: url(../images/top/triangle_pink.gif);
  top: 140px;
  left: 340px;
}
section.main_visual div.members .triangle:nth-of-type(3) {
  background-image: url(../images/top/triangle_red.gif);
  top: 140px;
  left: 510px;
}
section.main_visual div.members .triangle:nth-of-type(4) {
  background-image: url(../images/top/triangle_yellow.gif);
  top: 100px;
  left: 720px;
}
section.main_visual div.members .triangle:nth-of-type(5) {
  background-image: url(../images/top/triangle_green.gif);
  top: 120px;
  left: 900px;
}

@media screen and (max-width: 480px) {
  section.main_visual {
    padding-top: 60%;
    background-position: center;
  }
  section.main_visual div.dish {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding-top: 39.375%;
    background: url("../images/top/visual_dish.png") center top no-repeat;
    background-size: 60%;
  }
  section.main_visual p.catch {
    top: 25%;
  }
  section.main_visual p.catch span {
    font-size: 14px;
  }
  section.main_visual p.catch span.open-sans {
    font-size: 50px;
    margin-bottom: 3px;
  }
  section.main_visual div.members {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 90.625%;
    margin-left: 0;
    background: url("../images/top/visual_members_sp.png") center bottom no-repeat;
    background-size: contain;
  }
  section.main_visual div.members .triangle {
    position: absolute;
    width: 8%;
    height: 8%;
  }
  section.main_visual div.members .triangle:nth-of-type(1) {
    top: 42%;
    left: 8%;
  }
  section.main_visual div.members .triangle:nth-of-type(2) {
    top: 62%;
    left: 28%;
  }
  section.main_visual div.members .triangle:nth-of-type(3) {
    top: 67%;
    left: 50%;
  }
  section.main_visual div.members .triangle:nth-of-type(4) {
    top: 56%;
    left: 76%;
  }
  section.main_visual div.members .triangle:nth-of-type(5) {
    top: 33%;
    left: 88%;
  }

  #con_main section div.inner {
    width: 90%;
    padding: 15.6% 0;
  }
  #con_main section .title {
    margin-bottom: 20px;
    font-size: 66px;
    text-align: center;
  }
  #con_main section .title span {
    display: block;
  }
  #con_main section .title span:nth-of-type(1) {
    margin-bottom: 8px;
    font-size: 48px;
    font-style: italic;
  }
  #con_main section .title span:nth-of-type(2) {
    font-size: 14px;
    font-weight: bold;
		line-height:1.3;
  }
  #con_main section .description {
    overflow: hidden;
    *zoom: 1;
    font-size: 14px;
  }
  #con_main section .description > p {
    margin-bottom: 20px;
    line-height: 1.8;
  }
  #con_main section .description a p {
    padding: 3.75% 0;
  }
  #con_main section .description a span {
    font-size: 26px;
  }
  #con_main section a.button.black {
    display: block;
    width: 75.86207%;
    margin: 0 auto;
  }
  #con_main section a.button.black:nth-of-type(2) {
    margin-top: 20px;
  }
}
@media screen and (min-width: 374px) and (max-width: 480px) {
  section.main_visual p.catch span.open-sans {
    font-size: 50px;
  }

  #con_main section a.button.black {
    width: 68.96552%;
  }
}
@media screen and (min-width: 481px) {
  #con_main section .title {
    width: 210px;
    float: left;
    text-align: right;
  }
  #con_main section .title span {
    display: block;
  }
  #con_main section .title span:nth-of-type(1) {
    margin-bottom: 8px;
    font-size: 60px;
    font-style: italic;
  }
  #con_main section .title span:nth-of-type(2) {
    font-weight: bold;
		line-height:1.3;
  }
  #con_main section .description {
    float: left;
    width: 550px;
    padding-top: 6px;
    margin-left: 100px;
    overflow: hidden;
    *zoom: 1;
  }
  #con_main section .description > p {
    margin-bottom: 35px;
    line-height: 1.8;
  }
  #con_main section .description a {
    float: left;
    margin-right: 20px;
  }
  #con_main section .description a p {
    padding: 8px 40px;
  }
  #con_main section .description a span {
    font-size: 26px;
  }

  section.about .inner {
    padding-top: 120px;
  }

  section.entry_btns {
    background: #b1d7df;
  }
}
